# Requirements needed for KeePassLibrary development but not by end users.
flake8 >= 7.1.1 
pytest
invoke
rellu

# Requirement needed for robotframework
robotframework-tidy >= 4.14.0

# Requirements needed when generating releases. 
twine >= 5.1.1
wheel >= 0.44.0
setuptools >= 75.3.0

# Include normal dependencies from requirements.txt. Makes it possible to use
# requirements-dev.txt as a single requirement file in PyCharm and other IDEs.
-r requirements.txt
